*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: 100px;
    color: rgb(219, 219, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#end-time{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(219, 219, 129);


}
.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.time div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.date div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
input{
    outline: none;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 35px;
    color: rgb(219, 219, 129);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(219, 219, 129);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}